<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
	<script  src="http://code.jquery.com/jquery-latest.min.js"></script>

	<script type="text/javascript">
	</script>

	<script type="text/javascript">
	</script>
</head>
	<body>
		<h1><%= title %></h1>
		<a href="/wallet">Wallet</a>
		<ul>
			<li>Download <a href="/chapter.ejs">chapter.ejs</a>.</li>
		</ul>
	</body>
</html>