#jb-container {
	max-width: 940px;
	margin: 0px auto;
	padding: 10px;
	border: 1px solid #bcbcbc;
}
#jb-header {
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #bcbcbc;
}
#jb-content {
	max-width: 900px;
	padding: 10px;
	margin-bottom: 5px;
	float: left;
	border: 1px solid #bcbcbc;
}
#jb-sidebar {
	width: 260px;
	padding: 10px;
	margin-bottom: 20px;
	float: right;
	border: 1px solid #bcbcbc;
}
#jb-footer {
	clear: both;
	padding: 1px;
	/*border: 1px solid #bcbcbc;*/
}
#table {
	display: table;
	/*width: 900px;*/
}
.group {
	display: table-row-group;
}
.row {
	display: table-row;
}
.item {
	width: 100%;	    
	/*background: #ccc;*/
	/*border: 1px solid #000;*/
}
.cell {
	display: table-cell;
	padding: 3px;
	border-bottom: 1px solid #DDD;
}
.col {
	/*width: 10%;*/
}
.caption {
	float: none;
}

button {
	display: inline-block;
	margin: 0 5px 0 0;
	padding: 5px 10px;
	font-size: 15px;
	/*font-family: "Bitter",serif;*/
	line-height: 1.8;
	appearance: none;
	box-shadow: none;
	border-radius: 0;
}

button:focus {
	outline: none;
}

section.flat button {
	color: #fff;
	background-color: #6496c8;
	text-shadow: -1px 1px #417cb8;
	border: none;
}

section.flat button:hover,
section.flat button.hover {
	background-color: #346392;
	text-shadow: -1px 1px #27496d;
}

section.flat button:active,
section.flat button.active {
	background-color: #27496d;
	text-shadow: -1px 1px #193047;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}